<mat-spinner *ngIf="loading"></mat-spinner>
<form [formGroup]="loginForm" *ngIf="!loading">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control" id="password" formControlName="password">
  </div>
  <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="onLogin()">LA SUITE ! 🔥</button>
  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
</form>
