<mat-spinner *ngIf="loading"></mat-spinner>
<div class="sauce-container" *ngIf="!loading">
  <img [src]="sauce?.imageUrl" alt="">
  <div class="sauce-info">
    <h1 class="sauce-name">{{ sauce?.name }}</h1>
    <p class="manufacturer">par {{ sauce?.manufacturer }}</p>
    <h3>Description</h3>
    <p>{{ sauce.description }}</p>
    <div class="like-buttons" *ngIf="!likePending">
      <div class="likes">
        <i [ngClass]="{ 'fas liked': liked, 'far': !liked, 'disabled': disliked }" class="like fa-thumbs-up fa-lg" (click)="onLike()"></i>
        <span>{{ sauce.likes }}</span>
      </div>
      <div class="dislikes">
        <i [ngClass]="{ 'fas disliked': disliked, 'far': !disliked, 'disabled': liked }" class="dislike fa-thumbs-down fa-lg" (click)="onDislike()"></i>
        <span>{{ sauce.dislikes }}</span>
      </div>
    </div>
    <div class="like-pending" *ngIf="likePending">
      <mat-spinner class="white-spinner"></mat-spinner>
    </div>
    <div class="control-buttons">
      <button mat-raised-button (click)="onBack()">RETOUR</button>
      <button mat-raised-button color="primary" (click)="onModify()" *ngIf="userId === sauce.userId">MODIFIER</button>
      <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="userId === sauce.userId">SUPPRIMER</button>
    </div>
  </div>
</div>
