<mat-spinner *ngIf="loading"></mat-spinner>
<p *ngIf="!loading && sauces.length <= 0">
  No sauces to display!
</p>
<p class="list-title" *ngIf="!loading && sauces.length > 0">LES SAUCES</p>
<div class="sauce-list" *ngIf="!loading && sauces.length  > 0">
  <div class="sauce-list-item" *ngFor="let sauce of sauces" (click)="onClickSauce(sauce._id)">
    <img [src]="sauce.imageUrl">
    <h4>{{ sauce.name | uppercase }}</h4>
    <p>Heat: {{ sauce.heat }}/10</p>
  </div>
</div>
